body {
    /* background-color: #1a1a2e;
    background-color: #16213e; */

}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 3rem;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
}

.logo {
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo a {

    text-decoration: none;
    color: white;
}

.logo .highlight {

    color: #00a383;
}


.menu ul {
    gap: 30px;
    display: flex;
    margin: auto;
    list-style-type: none;
}

.menu li {
    font-size: 1.2rem;
}

.menu a {
    text-decoration: none;
    color: black;
    transition: color 1s ease;
}

.menu a:hover {
    color: #00a383;
}

.menu a:active {
    color: #76f3da;
}

.menu hr {
    margin: auto;
    height: 109%;
    width: 1px;
    background-color: black;
    border: none;
}

.menu .signup {
    padding: 8px 14px;
    border-radius: 6px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.menu .signup:hover {
    transform: scale(1.1);
    background-color: #00a383;
    color: white;
}


.sec {
    padding: 3rem 10%;
    background-color: #f7f7f7;
    max-width: 800px;
    margin: 1rem auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.help-instructions h3 {
    color: #00a383;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.help-instructions p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
    text-align: center;
}

.help-instructions ol {
    margin-left: 1.5rem;
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
}

.help-instructions ol li {
    margin-bottom: 0.8rem;
}

.help-instructions a{
    text-decoration: none;
    color: rgb(0, 163, 131);
    transition: color .3s ease;
}

.help-instructions a:hover{
    color: purple;
}
.help-instructions a:active{
    color: red;
}